Checks: >
  bugprone-*,
  performance-*,
  readability-*,
  -readability-magic-numbers,
  -readability-convert-member-functions-to-static

WarningsAsErrors: ''
HeaderFilterRegex: '.*'
FormatStyle: none
